<div class="page-main">
  <h3 class="page-header">
    <fa name="user"></fa>
    Moderators
  </h3>
  <div class="card-main">
    <table class="table column-filter table-hover table-striped table-condensed table-bordered mat-elevation-z2"
           appSortableTable [columns]="columns" (sort)="onOrderSort($event)" tableName="moderators">
      <tr *ngFor="let item of moderators; trackBy: item?.$key" [routerLink]="item?.$key" class="cursor-pointer">
        <td>{{ item.displayName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.card }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.skype }}</td>
      </tr>
    </table>
    <md-card *ngIf="!moderators.length">
      No moderators. Yet.
    </md-card>
    <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
  </div>
</div>
