:host {
}

codemirror {
  max-width: 100%;
  width: 100%;
  padding: 10px 0;
}

.CodeMirror {
  width: 100% !important;
}

.mail-label {
  width: 68px;
  display: inline-block;
}

.action-buttons {
  float: right;
}
