<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="forgot mat-elevation-z12">
    <form novalidate (ngSubmit)="recover(email)" [formGroup]="email">
      <div class="forgot-content" fxLayout="column" fxLayoutAlign="start stretch">
        <md-input-container floatPlaceholder="never">
          <input mdInput mdInput class="new-input lg" type="email" placeholder="Email" required formControlName="email">
          <md-hint class="error"
                   *ngIf="email.get('email').hasError('email') && email.get('email').touched">
            Invalid email
          </md-hint>
        </md-input-container>
        <button color="primary" md-raised-button>RECOVER PASSWORD</button>
        <p class="note"><a [routerLink]="['/login']">Back to login</a></p>
      </div>
    </form>
    <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
  </div>
</div>
