@import "../../../../styles/_var";

:host {
  display: block;
  background: #fff;
  //background: #fff url('../../../../assets/img/backgrounds/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.forgot {
  background: white;
  width: 380px;

  .forgot-header {
    background: $background-color__sidenav-list;
    padding: 24px;
    img {
      width: 316px;
    }
  }

  .forgot-content {
    padding: 24px 42px 42px;

    md-input-container {
      width: 100%;
      margin: 6px 0 18px;
    }

    a {
      color: #66c4ca;
      text-decoration: underline;

      &:hover {
        color: #5db4ba;
      }
    }

    .note {
      color: #777;
      margin: 24px 0 0;
      text-align: center;
    }
  }
}

/deep/ md-input-container .mat-input-wrapper {
  margin: 9px 0;
  padding-bottom: 5px;
}
