:host {
  display: block;
}

md-input-container,
md-card-content {
    width: 100%;
}

.order-main-block {
    display: flex;
}

.order-container {
    width: 100%;
    box-sizing: border-box;
}


.block-main,
.block-footer {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.block-main:first-child,
.block-footer:first-child {
    margin-right: 50px;
}

@media screen and (max-width: 600px) {
    .block-main,
    .block-footer {
        vertical-align: top;
        display: inline-block;
        width: 100%;
    }

    .block-main:first-child,
    .block-footer:first-child {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

md-divider {
    margin: 20px 0;
}

label {
    vertical-align: -webkit-baseline-middle;
}

md-select {
    width: 100%
}

.order-footer {
    justify-content: space-between;
    display: flex;
}
