<div class="page-main">
  <h3 class="page-header">
    <fa name="bars"></fa>
    Orders
  </h3>
  <div class="card-main">
    <table class="table column-filter table-hover table-striped table-condensed table-bordered mat-elevation-z2"
           appSortableTable [columns]="columns" (sort)="onOrderSort($event)" tableName="orders">
      <tr *ngFor="let item of orders; trackBy: item?.$key" [routerLink]="'summary/' + item?.$key" class="cursor-pointer">
        <td>{{ item.name }}</td>
        <td>{{ item.numberOfImages }}</td>
        <td>{{ item.description.orderTodoText }}</td>
        <td>{{ item.addedAt | date:'short' }}</td>
        <td>
          <span class="order-status" [style.backgroundColor]="item.color" style="display:inline-block; margin-right: 20px;">{{ item.statusText }}</span>
          <div class="order-cross" *ngIf="item.isPending"><fa (click)="doRemoveOrder($event, item.id)" name="times"></fa></div>
        </td>
      </tr>
    </table>
    <md-card *ngIf="!orders.length">
      No orders. Why don't you <a routerLink="/dashboard">create</a> one?
    </md-card>
    <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
  </div>
</div>
